// colors
$black : #222831;
$gray : #393E46;
$light-gray : rgba($gray, 0.5);
$blue : #00ADB5;
$light-blue : #01d7e1;
$dark-blue : #006266;
$white : #EEEEEE;
$green : #27842a;
$red : #cd3737;

//breakpoints
$mediaBigDesktopWidth: 1800px;
$mediaDesktopWidth: 1260px;
$mediaTabletWidth: 960px;
$mediaSmallTabletWidth: 760px;
$mediaPhoneWidth: 480px;